@import url("https://use.typekit.net/vjj1age.css");

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    --color-text: rgba(75,75,75,1); 
    --color-bg: #fff;
    --color-two: rgba(175,175,175,1); 
    color: var(--color-text);
    background-color: var(--color-bg);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.active__link {
    border-bottom: 1px solid var(--color-text);
}


.navbar {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.brand::before {
    content: "Antoine Corniere";
}

.nav__links a {
    margin-left: 15px;
    font-size: 16px;
}

.home__content {
    width: 75%;
    margin: auto;
}

.home__txt {
    margin: 1%;
    margin-top: 10%;
}

.home__title {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
 
}

.home__info {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 1%;
}

.home__pic {
    margin: 1%;
    margin-top: 3%;
    width: 100%;
    overflow: hidden;
}

.home__pic img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    pointer-events: none;
}

.content {
    width: 75%;
    margin: auto;
}


.movie__section {
    margin-top: 8%;
}


.movies {
    display: flex;
    justify-content: space-between;
}

.m__l {
    width: 50%;
    margin: 1%;
    position: relative;
}

.play {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 30px;
    transition: 0.3s ease-in-out;
}
.play:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


.movies__img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.movies__title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 1%;
    letter-spacing: 1px;
}



.movies__type {
    font-size: 10px;
    font-weight: 300;
    color: var(--color-two);
    margin-top: 0.5%;
    text-transform: uppercase;
    letter-spacing: 1px;
}


#modal {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: rgba(255, 255, 255, 0.87);
    display: none;
  }





.closeV {
    display: block;
    position: fixed;
    top: 60px;
    right: 35px;
    z-index: 4;
    opacity: 1;
    cursor: pointer;
}

.close__video {
    display: block;
    width: 30px;
    height: 1px;
    margin-bottom: 7px;
    background-color: var(--color-text);
    opacity: 0;
    transition: 0.5s ease-in-out;
}


.close__video:nth-child(1) {
	transform: rotate(45deg) translateY(5.5px);
	width: 25px;
	background-color: var(--color-text);
}

.close__video:nth-child(2) {
	transform: rotate(-45deg) translateY(-5.5px);
	width: 25px;
	background-color: var(--color-text);
}
 
.stop-scrolling {
    height: 100%;
    overflow: hidden;
} 
 
#vidSizer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vidHolder {
    width: 100%;
    text-align: center;
}

#mainVid {
    width: 70%;
    height: 65vh;
    margin: auto;
}
  
.is-appear {
    opacity: 1;
}

.photos__content {
    width: 70%;
    margin: auto;
}

.photos__line {
    display: flex;
    justify-content: center;
}

.photos {
    margin: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
}

.photos img {
    height: 65vh;
    object-fit: cover;
    pointer-events: none;
}

.photos__land {
    margin: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
}

.photos__img {
    width: 100%;
}




.info__inner {
    position: relative;
    width: 75%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.info {
    width: 50%;
    margin: 2%;
    font-size: 15px;
}

.info__title h2 {
    margin-bottom: 5%;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 24px;
}

.info__txt p {
    line-height: 1.5rem;
}

.info__contact {
    margin-top: 3%;
}

.info__contact span {
    cursor: pointer;
}

.info__pic {
    width: 50%;
    margin: 2%;
}

.info__img{
    width: 80%;
    margin: auto;
}

.info__pic img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    pointer-events: none;
}

.socials a {
    margin-right: 15px;
}


.error__content {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.error {
    text-align: center;
}

.error__title {
    font-size: 24px;
    margin-bottom: 3%;
}

.error__link {
    font-size: 14px;
    text-align: center;
    width: fit-content;
    -moz-width: fit-content;
    margin: auto;
    font-weight: 300;
}


@media screen and (max-width: 1440px) {
    .photos img {
        height: 55vh;
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px)  {
    .content {
        width: 80%;
    }

    .movie__section {
        margin-top: 20%;
    }

    .movies__img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    #mainVid {
        width: 75%;
        height: 35vh;
        margin: auto;
    }

    .photos img {
        height: 35vh;
        object-fit: cover;
    }

    .info__pic img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        pointer-events: none;
    }
}

@media screen and (max-width: 414px) {

    .navbar {
        margin: 5%;
        
    }

    .brand::before {
        content: "AC";
    }

    .home__content {
        width: 90%;
        margin: auto;
        margin-top: 40%;
    }

    .home__pic img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    .home__title {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
    }

    .home__info {
        font-size: 13px;
        letter-spacing: 1px;
        margin-top: 2%;
    }

    .home__pic {
        margin-top: 5%;
    }

    .content {
        width: 80%;
    }

    .movie__section {
        margin-top: 12%;
    }

    
    .movies__title {
        font-size: 12px;
        font-weight: 300;
        margin-top: 1%;
        letter-spacing: 1px;
    }

    .movies__type {
        font-size: 9px;
        font-weight: 300;
        color: var(--color-two);
        margin-top: 0.5%;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .m__l {
        width: 100%;
        margin: 1%;
        margin-top: 5%;
    }

    .movies__img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    .play {
        top: 40%;
        width: 25px;
       
    }

    .photos__content {
        width: 100%;
        margin-top: 15%;
    }

    .photos__line {
        display: flex;
        flex-wrap: wrap;
    }

    .photos img {
        height: 65vh;
        object-fit: cover;
    }

    .info__content {
        margin-top: 10%;
    }

    .info__inner {
        flex-wrap: wrap;
        width: 90%;
       
    }

    .info {
        width: 80%;
    }

    .info__title h2 {
        margin-bottom: 5%;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .info__pic {
        width: 80%;
        margin: 2%;
    }

    .info__img {
        width: 100%;
        margin: auto;
    }

    .info__pic img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    

    
}

@media screen and (max-width: 375px) {
    .movies__img {
        width: 100%;
        height: 22vh;
        object-fit: cover;
    }

    .play {
        top: 40%;
        width: 20px;
       
    }

    .photos img {
        height: 55vh;
        object-fit: cover;
    }

    .info__title h2 {
        margin-bottom: 5%;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .home__title {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
    }

    .home__info {
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 2%;
    }
}

