@font-face {
  font-family: "NewYork";
  src: url("../fonts/NewYork.otf");
}

* { box-sizing: border-box; }

html, body {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	background-color: #f1f1f1;
	line-height: 1.7;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: #0a0a0a;
	overflow-x: hidden;
}

p {
	margin: 0 0 30px;
}

a {
	color: #0a0a0a;
	text-decoration: none;
	outline: none
}
a:hover, a:focus {
	color: #0a0a0a;
}
p a {
	color: #0a0a0a;
	opacity: .7;
	font-style: italic;
	border-bottom: 1px solid;
}
p a:hover,
p a:focus {
	color: #0a0a0a;
	opacity: .6;
}

img {
	max-width: 100%;
	height: auto;
}

b, strong {
	font-weight: bold;
	font-weight: 700;
}

section {
	position: relative;
}

figure {
  position: relative;
  margin: 0;
}

button {}
button:focus {
	outline: none;
}

.small, small {
	font-size: 80%;
}

hr {
	width: 100%;
	height: 0;
	border: none;
	border-bottom: 1px solid rgb(144 144 144 / 30%);
}

.anim-image-parallax {
	transform: scale(1.2);
	transform-origin: 50% 100%;
}

/* Selection */
::selection {
	color: #0a0a0a;
	text-shadow: none;
	background: #4c2122;
}
::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #4c2122; /* Firefox */
}
::-webkit-selection {
	color: #fff;
	text-shadow: none;
	background: #4c2122; /* Safari */
}

/* Lists */
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* Disable scroll */
.tt-no-scroll {
	overflow-y: hidden !important;
}


.tt-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: transparent;
    margin: 15px 15px 15px 0;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    z-index: 9;
}

/* ------------------------------------------------------------- *
 * Fonts
/* ------------------------------------------------------------- */

/* Body font
============= */
body {
	font-family: 'Poppins', sans-serif;
}


/* Secondary font
================== */

h2, .il-item-hover-title,
.nav-link, .pi-list-heading
 {
	font-family: "NewYork";
}



/* ------------------------------------------------------------- *
 * Page transitions
/* ------------------------------------------------------------- */

#page-transition {
	display: none;
}
body.tt-transition #page-transition {
	position: relative;
	display: block;
	z-index: 99999;
}

/* Transition overlay */
body.tt-transition .ptr-overlay {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #e8e8e8;
	z-index: 1;
}

/* Transition preloader */
body.tt-transition .ptr-preloader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
}

body.tt-transition .ptr-prel-content {
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #0a0a0a;
	font-size: 3rem;
	font-family: "NewYork";
}

@media (max-width: 820px) {
	body.tt-transition .ptr-prel-content {
		font-size: 2.5rem;
	}
	
}

@media (max-width: 414px) {
	body.tt-transition .ptr-prel-content {
		font-size: 1.35rem;
	}
	
}


@media (max-width: 390px) {
	body.tt-transition .ptr-prel-content {
		font-size: 1.35rem;
	}
	
}





/* ----------------------------------------------------------------------------------------- *
 * Page boxed layout
 * Note: Class "boxed" in <body> tag is connected with class "tt-wrap" in several places!
/* ----------------------------------------------------------------------------------------- */

body.tt-boxed .tt-wrap {
	max-width: 1282px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

body.tt-boxed .tt-wrap .tt-wrap {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}


/* ------------------------------------------------------------- *
 * Body inner
/* ------------------------------------------------------------- */

#body-inner {
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 100vh;
}


/* ------------------------------------------------------------- *
 * Content wrap
/* ------------------------------------------------------------- */

#content-wrap {
	position: relative;
	overflow: hidden;
}


/* ------------------------------------------------------------- *
 * Page content
/* ------------------------------------------------------------- */

#page-content {
}


/* ------------------------------------------------------------- *
 * Custom scrollbar style
/* ------------------------------------------------------------- */

.tt-custom-scrollbar {
	overflow-y: auto;
}

/* Works on Firefox */
.tt-custom-scrollbar,
.tt-sliding-sidebar-inner,
.tt-sidebar {
	scrollbar-width: thin;
	scrollbar-color: #555 #2a2a2a;
}
select {
	scrollbar-width: thin;
	scrollbar-color: #666 #2a2a2a;
}

/* Works on Chrome, Edge, and Safari */
.tt-custom-scrollbar::-webkit-scrollbar,
.tt-sliding-sidebar-inner::-webkit-scrollbar,
.tt-sidebar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
select::-webkit-scrollbar {
	width: 10px;
}
.tt-custom-scrollbar::-webkit-scrollbar-track,
.tt-sliding-sidebar-inner::-webkit-scrollbar-track,
.tt-sidebar::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
	background: #2a2a2a;
}
.tt-custom-scrollbar::-webkit-scrollbar-thumb,
.tt-sliding-sidebar-inner::-webkit-scrollbar-thumb,
.tt-sidebar::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 50px;
}
select::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;
}


/* ------------------------------------------------------------- *
 * Smooth Scrollbar
 * Source: https://github.com/idiotWu/smooth-scrollbar/
/* ------------------------------------------------------------- */

/* Hide default scrollbar */
body:not(.is-mobile).tt-smooth-scroll {
	overflow: hidden;
}

/* Scroll content (added if <body> contain class "tt-smooth-scroll". Disabled on mobile devices!) */
body:not(.is-mobile).tt-smooth-scroll #scroll-container {
	width: auto;
	height: 100vh;
	overflow: auto;
	margin: 0;
}

/* Styling scrollbar */
.scrollbar-track {
	background: transparent !important;
	z-index: 99999 !important;
}
.scrollbar-track:hover {
	/*background: rgba(222, 222, 222, 0.1) !important;*/
}
.scrollbar-thumb {
	background: #aaa !important;
	opacity: .25;
	transition: opacity 0.2s ease-in-out;
}
.scrollbar-track:hover .scrollbar-thumb {
	opacity: .5;
}


/* ------------------------------------------------------------- *
 * Magic cursor
/* ------------------------------------------------------------- */

#magic-cursor {
	position: absolute;
	display: none;
	width: 10px;
	height: 10px;
	pointer-events: none;
	z-index: 99999;
	opacity: 0;
}
body.tt-magic-cursor #magic-cursor {
	display: block;
}

#ball {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0a0a0a;
	pointer-events: none;
	border-style: solid;
	/*border-color: #FFF;*/
	border-radius: 50%;
	/* Note: border width handled through JS */
}


/* Ball view
============= */
#ball .ball-view {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	padding: 0 5px;
	font-size: 14px;
	font-weight: 500;
	color: #0a0a0a;
	line-height: 1.3;
	text-align: center;
	transform: scale(0);
}

#ball .ball-view i {
	font-size: 19px;
}


/* Ball drag
============= */
#ball .ball-drag {
	position: absolute;
	display: block;
	width: 100%;
	padding: 0 5px;
	font-size: 15px;
	font-weight: 600;
	color: #0a0a0a;
	line-height: 1.2;
	text-align: center;
	transition: all 0.3s;
}
#ball .ball-drag::before,
#ball .ball-drag::after {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	font-size: 19px;
	color: #0a0a0a;
	height: 10px;
	line-height: 10px;

	/* Font Awesome */
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
#ball .ball-drag::before {
	content: "\f104"; /* Font Awesome */
	left: 0;
	transform: translate3d(-30px, 0, 0);
	transition: all 0.25s;
}
#ball .ball-drag::after {
	content: "\f105"; /* Font Awesome */
	right: 0;
	transform: translate3d(30px, 0, 0);
	transition: all 0.25s;
}


/* Ball close
============== */
#ball.ball-close-enabled {
	opacity: 1 !important;
}
#ball .ball-close {
	position: absolute;
	padding: 0 5px;
	font-size: 14px;
	font-weight: 600;
	color: #0a0a0a;
	line-height: 1;
	text-align: center;
}



/* ------------------------------------------------------------- *
 * tt-Header
/* ------------------------------------------------------------- */

#tt-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 999;
	pointer-events: none;
}

/* header position fixed */
#tt-header.tt-header-fixed {
	position: fixed;
}

/* header inner */
.tt-header-inner {
	width: 100%;
	display: flex;
	padding-top: 40px;
	align-items: center;
}
@media (max-width: 1024px) {
	.tt-header-inner {
		padding-top: 20px;
	}
}

body:not(.tt-boxed) .tt-header-inner,
.tt-header-inner:not(.tt-wrap) {
	padding-left: 3.5%;
	padding-right: 3.5%;
}

/* header columns */
.tt-header-col {
	display: flex;
	align-items: center;
}
.tt-header-col:first-child {
	margin-right: auto;
}


/* Header logo
=============== */
.tt-logo {
	position: absolute;
	top: 40px;
	margin-right: auto;
	line-height: 1;
	pointer-events: initial;
	z-index: 9;
}
.tt-logo a {
	display: inline-block;
	font-size: 21px;
	color: #0a0a0a;
}
.tt-logo img {
	max-height: 48px; /* You may need to change the img height to match your logo type! */
}

.temp-tt-logo {
	font-family: "NewYork";
	font-size: 26px;
}




/* Logo for small screens */
@media (max-width: 1024px) {
	.tt-logo {
		top: 20px;
	}
	.tt-logo img {
		max-height: 42px; /* You may need to change the img height to match your logo type! */
	}
}




/* ------------------------------------------------------------- *
 * Overlay menu
/* ------------------------------------------------------------- */

/* Overlay menu
================ */
.tt-overlay-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #f1f1f1;
	visibility: hidden;
	opacity: 0;
	pointer-events: initial;
}
.tt-ol-menu-holder {
	position: relative;
	height: 100%;
	width: calc(100% + 17px);
	padding-right: 17px;
	overflow-y: scroll;
	z-index: 2;
}
.tt-ol-menu-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.tt-ol-menu-content {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: 120px 5% 120px 5%;
}
@media (max-width: 767px) {
	.tt-ol-menu-content {
		padding-top: 25%;
		padding-bottom: 35%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Disable page scroll if overlay menu is open */
body.tt-ol-menu-open {
	overflow-y: hidden !important;
}

/* Hide smooth scrollbar if overlay menu is open */
body.tt-smooth-scroll.tt-ol-menu-open .scrollbar-track {
	display: none !important;
}



/* Overlay menu toggle button
============================== */
#tt-ol-menu-toggle-btn-wrap {
	position: relative;
	display: flex;
	align-items: center;
	pointer-events: initial;
	cursor: pointer;
	z-index: 9;
}
@media (min-width: 1025px) {
	body.tt-header-tools-on #tt-ol-menu-toggle-btn-wrap {
		margin-right: 20px;
	}
}
.tt-ol-menu-toggle-btn-holder {
	float: left;
}

/* Toggle button */
.tt-ol-menu-toggle-btn {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
}
.tt-ol-menu-toggle-btn span {
	position: absolute;
	display: block;
	top: 54%;
	left: 50%;
	height: 2px;
	width: 24px;
	background-color: transparent;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}
.tt-ol-menu-toggle-btn span::before,
.tt-ol-menu-toggle-btn span::after {
	position: absolute;
	display: block;
	content: '';
	height: 2px;
	width: 24px;
	background-color: #0a0a0a;
	transition: all 0.3s ease-in-out;
}
.tt-ol-menu-toggle-btn span::before {
	top: -4px;
	width: 24px;
}
.tt-ol-menu-toggle-btn span::after {
	top: auto;
	bottom: -4px;
	width: 18px;
}

/* Toggle button text */
.tt-ol-menu-toggle-btn-text {
	float: left;
	padding-right: 5px;
	overflow: hidden;
	text-align: right;
	font-size: 15px;
	color: #0a0a0a;
}
@media (max-width: 320px) {
	.tt-ol-menu-toggle-btn-text {
		display: none;
	}
}

/* Toggle button text hover */
.tt-ol-menu-toggle-btn-text .text-menu {
	position: relative;
	display: inline-block;
	text-align: right;
	transition: transform 0.3s;
}
body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-menu {
	display: none;
}

body:not(.is-mobile) .tt-ol-menu-toggle-btn-text .text-menu::before {
	position: absolute;
	top: 100%;
	right: 0;
	content: attr(data-hover);
}
body:not(.is-mobile) #tt-ol-menu-toggle-btn-wrap:hover .tt-ol-menu-toggle-btn-text .text-menu {
	transform: translate3d(0, -100%, 0);
}

/* Toggle button close */
body.tt-ol-menu-open .tt-ol-menu-toggle-btn span {
	width: 20px;
	background-color: transparent;
}
body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::before {
	top: 0;
	width: 20px;
	transform: rotate(45deg);
}
body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::after {
	bottom: 0;
	width: 20px;
	transform: rotate(-45deg);
}

.tt-ol-menu-toggle-btn-text .text-close {
	display: none;
}
body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-close {
	display: block;
}

/* Disable menu toggle button click until the animations last */
body.olm-toggle-no-click .tt-ol-menu-toggle-btn-text,
body.olm-toggle-no-click .tt-ol-menu-toggle-btn {
	pointer-events: none;
}


/* Overlay menu position center
================================ */
.tt-overlay-menu.tt-ol-menu-center .tt-ol-menu-content {
	text-align: center;
}
.tt-overlay-menu.tt-ol-menu-center .tt-ol-submenu {
	margin-left: 0;
}


/* Overlay menu navigation
================================ */

.nav-menu {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}




.nav-inner-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	height: 50px;
	background-color: transparent;
	margin: 50px 30px;
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	font-weight: 500;
	overflow: hidden;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	z-index: 9;
}
.nav-inner-link:last-child {
	margin-right: 0;
}
.nav-inner-link > * {
	position: relative;
	color: #0a0a0a;
	transition: transform 0.3s;
}
.nav-inner-link > *,
.nav-inner-link > *::after {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px 30px;
	line-height: 1;
}
.nav-inner-link > *::after {
	position: absolute;
	content: attr(data-hover);
	top: 100%;
	width: 100%;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}
.nav-inner-link:hover > * {
	transform: translate3d(0, -100%, 0);
}






/* Overlay menu Background
================================ */

.bg-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100vh;
	overflow: hidden;
	background-image: url(../img/bg_menu.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-menu-img {

	width: 100%;
	height: 100vh;
	object-fit: cover;
}

@media (max-width: 820px) {

	.bg-menu {
		width: 50%;
	}

	.nav-menu {	
		left: 75%;	
	}
}


@media (max-width: 390px) {

	.nav-menu {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
	}

	.nav-inner-link {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		height: 50px;
		background-color: transparent;
		margin: 30px 10px;
		text-align: center;
		font-size: 3rem;
		font-weight: bold;
		font-weight: 500;
		overflow: hidden;
		cursor: pointer;
		border: none;
		border-radius: 100px;
		z-index: 9;
	}

	.bg-menu {
		position: absolute;
		top: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50vh;
	}
}

/* ------------------------------------------------------------- *
 * Background noise
/* ------------------------------------------------------------- */

.bg-noise {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
}
.bg-noise:before {
	position: absolute;
	content: '';
	top: -10rem;
	left: -10rem;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: -1;
	pointer-events: none;
	background-image: url(../img/bg-noise.png);
	background-position: 50%;
	animation: BgNoise 1s steps(2) infinite;
}
@keyframes BgNoise {
	0% { transform: translate3d(0, 9rem, 0) }
	10% { transform: translate3d(-1rem, -4rem, 0) }
	20% { transform: translate3d(-8rem, 2rem, 0) }
	30% { transform: translate3d(9rem, -9rem, 0) }
	40% { transform: translate3d(-2rem, 7rem, 0) }
	50% { transform: translate3d(-9rem, -4rem, 0) }
	60% { transform: translate3d(2rem, 6rem, 0) }
	70% { transform: translate3d(7rem, -8rem, 0) }
	80% { transform: translate3d(-9rem, 1rem, 0) }
	90% { transform: translate3d(6rem, -5rem, 0) }
	to { transform: translate3d(-7rem, 0, 0) }
}



/* ------------------------------------------------------------- *
 * Page header
/* ------------------------------------------------------------- */

#page-header {
	position: relative;
	z-index: 1;
}

@media (min-width: 1025px) {
#page-header.ph-full {
    display: flex;
    align-items: center;
    min-height: 100vh;

	}
}
.page-header-inner {
  padding-top: 0;
}



.ph-img {
	width: 100%;
	height: 70vh;
  	object-fit: cover;
}

@media screen and (max-width: 844px) and (min-width: 390px) {
	.ph-inner-img {
		display: flex;
		justify-content: center;
		padding-top: 15%;
	}
	.ph-img {
		width: 50%;
		height: 70vh;
	}
}

@media (max-width: 820px) {
	.ph-img {
		width: 100%;
		height: 55vh;
	}

	.ph-inner-img {
		padding-left: 3%;
	  	padding-right: 3%;
	}
  
	.page-header-inner {
	  padding-top: 20%;
	  
	}
  }


@media (max-width: 390px) {
  .ph-img {
  	width: 100%;
  	height: 50vh;
  }

  .page-header-inner {
    padding-top: 25%;
  }
}





/* Scroll down circle
====================== */
.scroll-down-circle {
	position: absolute;
	display: block;
	left: 3%;
	bottom: -100px;
	width: 250px;
	height: 250px;
	z-index: 9;
}
@media (max-width: 1024px) {
	.scroll-down-circle {
		display: none;
	}
}
#page-header:not(.ph-full) .scroll-down-circle { /* Display only on full scren page header! */
	display: none;
}

/* Scroll down circle icon */
.scroll-down-circle .sdc-icon {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	font-size: 16px;
	color: #616161;
	transform: translate(-50%, -50%);
}
#page-header.ph-bg-image .scroll-down-circle .sdc-icon {
	color: #0a0a0a;
}

/* Scroll down circle svg */
.scroll-down-circle svg {
	width: 100%;
	animation: sdc-rotation 8s infinite linear;
}
.scroll-down-circle rect {
	fill: #0a0a0a;
}
.scroll-down-circle text {
	font-size: 33px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 25px;
	fill: #0a0a0a;
	transition: fill .2s;
}
.scroll-down-circle:hover text {
	fill: #0a0a0a;
}
#page-header.ph-bg-image .scroll-down-circle text {
}

/* Scroll down circle animation */
@keyframes sdc-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}



/* ------------------------------------------------------------- *
 * tt-Section
/* ------------------------------------------------------------- */

.tt-section {
	position: relative;
	padding: 80px 0;
}
@media (max-width: 991px) {
	.tt-section {
		padding: 6% 0;
	}
}
@media (max-width: 767px) {
	.tt-section {
		padding: 10% 0;
	}
}
@media (max-width: 480px) {
	.tt-section {
		padding: 15% 0;
	}
}


/* tt-section inner
==================== */
.tt-section-inner {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}



/* ------------------------------------------------------------- *
 *  interactive
/* ------------------------------------------------------------- */

.interactive-list {
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
}

@media (max-width: 1024px) {
	.interactive-list {
		padding-left: 5%;
		padding-right: 5%;
	}
}

body.tt-boxed .tt-wrap .interactive-list {
	padding-left: 3%;
	padding-right: 3%;
}

/* interactive item */
.interactive-list-item {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (max-width: 1024px) {
	.interactive-list-item {
		padding: 8% 3% 5% 3%;
		margin-bottom: 20px;
	}
}

/* interactive item counter */
.interactive-list {
	counter-reset: il-item-counter;
}

.interactive-list-item::before {
	position: absolute;
	counter-increment: il-item-counter;
	content: "" counter(il-item-counter, decimal-leading-zero);
	top: 10%;
	left: -40px;
	line-height: 1;
	font-size: calc(14px + 0.2vw);
	font-weight: 300;
	color: #0a0a0a;
	opacity: .3;
}


@media (max-width: 1024px) {
	.interactive-list-item::before {
		top: 10%;
		left: 3%;
		opacity: .5;
    color: #f1f1f1;
	}
}


/* Portfolio interactive item category */
.il-item-category-wrap {
	position: absolute;
	top: 8%;
	right: 0;
	line-height: 1;
	overflow: hidden;
	z-index: 1;
}
@media (max-width: 1024px) {
	.il-item-category-wrap {
		right: 3%;
	}
  .il-item-category {
    color: #f1f1f1;
  }
}

.il-item-category {
	position: relative;
	display: inline-block;
	margin: 0;
	font-size: calc(13px + 0.1vw);
	font-weight: normal;
	color: #0a0a0a;
	line-height: 1.4;
	transition: transform .6s cubic-bezier(0.51, 0.57, 0.17, 1);
}

@media (max-width: 1024px) {

  .il-item-category {
    color: #f1f1f1;
  }
}

@media (min-width: 1025px) {
	body:not(.is-mobile) .il-item-category {
		font-size: calc(13px + 0.1vw);
		transform: translate3d(0, 100%, 0);
	}
	body:not(.is-mobile) .interactive-list-item.il-item-hover .il-item-category {
		transform: translate3d(0, 0, 0);
		transition-delay: .2s;
	}
}

.il-item-category ~ .il-item-category {
	margin-left: -4px;
}

.il-item-category ~ .il-item-category:not(:empty)::before {
	content: ", ";
}

.il-item-category ~ .il-item-category ~ .il-item-category ~ .il-item-category {
	visibility: hidden;
	width: 22px;
}

.il-item-category ~ .il-item-category ~ .il-item-category ~ .il-item-category ~ .il-item-category {
	display: none;
}

.il-item-category + .il-item-category + .il-item-category + .il-item-category::before {
	content: "...";
	margin-left: 5px;
	visibility: visible;
}


/* Portfolio interactive item link */
.il-item-title-link {
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
}

/* Portfolio interactive item title */
.il-item-title {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-size: calc(14px + 5vw);
	color: #0a0a0a;
	line-height: 1.5;
	opacity: .5;
	transform: translate3d(0, 0, 0);
	transition: transform .6s cubic-bezier(0.51, 0.57, 0.17, 1);

	/* Ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
}

.il-item-hover-title {
	position: absolute;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	font-size: calc(14px + 5vw);
	color: #0a0a0a;
	line-height: 1.5;
	transform: translate3d(0, 100%, 0);
	transition: transform .6s cubic-bezier(0.51, 0.57, 0.17, 1);
}


@media (min-width: 1025px) {
	.il-item-title,
	.il-item-hover-title {
		white-space: nowrap;
	}

	.il-item-hover-title {
		width: fit-content;
		display: flex;

	}

	.il-item-title-link:hover .il-item-title {
		transform: translate3d(0, -100%, 0);
		transition-delay: 0.1s;

	}
	.il-item-title-link:hover .il-item-hover-title {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.1s;
	}

	.il-item-hover-title span {
		align-items: center;
		padding-right: 5vw;
		animation-name: marquee;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		/* animation-duration is handled by js. */
	}
	.il-item-title-link:hover .il-item-hover-title span {
		animation-play-state: running;
		/* animation-duration is handled by js. */
	}
	@keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-100%); }
	}
}
@media (max-width: 1024px) {
	.il-item-title {
		opacity: .9;
		font-size: calc(14px + 2vw);
		line-height: 1.4;
    color: #f1f1f1;
    font-weight: 500;
	}
	.il-item-hover-title {
		display: none;
	}
}

/* Portfolio interactive item title separator (dot) */
.il-item-hover-title span::after {
	position: absolute;
	display: block;
	content: "";
	right: 1.9vw;
	top: 56%;
	width: .8vw;
	height: .8vw;
	background-color: #0a0a0a;
	border-radius: 100px;
	transform: translate3d(0, -50%, 0);
}

/* Portfolio interactive image */
.il-item-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

}
@media (min-width: 1025px) {
	.interactive-list-item .il-item-image {
		display: none;
	}
}
@media (max-width: 1024px) {
	.il-item-image {
		overflow: hidden;
    margin: 0;
	}
	.il-item-image::before {
		position: absolute;
		display: block;
		content: "";
		top: -1px;
		left: -1px;
		bottom: -1px;
		right: -1px;
		background-color: #040404;
		opacity: .7;

	}
}
.il-item-image img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

#magic-cursor.interactive-list-hover-on {
	z-index: -1;
}
#magic-cursor.interactive-list-hover-on #ball {
	overflow: hidden;
	border: none !important;
	border-radius: 0;
}

/* Video */
video.il-item-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* interactive styles
================================ */
/* Style stroke (no effect on small screens) */
@media (min-width: 1025px) {
	.interactive-list.pi-stroke .il-item-title {
		font-weight: normal;
		opacity: .75;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #0a0a0a;
		-webkit-text-fill-color: transparent;
	}
	body.is-firefox .interactive-list.pi-stroke .il-item-title {
		-webkit-text-stroke-width: 2px;
	}
}

/* Style compact */
@media (min-width: 1025px) {
	.interactive-list.pi-compact .interactive-list-item {
		padding-top: 10px;
		padding-bottom: 20px;
		padding-right: 15%;
	}

	.interactive-list.pi-compact .il-item-title {
		font-size: calc(14px + 3.2vw);
		opacity: .7;
	}
	.interactive-list.pi-compact .il-item-hover-title {
		font-size: calc(14px + 3.2vw);
	}

	.interactive-list.pi-compact .interactive-list-item::before {
		top: 17%;
		left: auto;
		right: 0;
		font-size: calc(14px + 4vw);
		font-weight: normal;
		font-style: italic;
		color: #FFF;
		opacity: .2;
	}

	.interactive-list.pi-compact .il-item-category-wrap {
		top: auto;
		right: auto;
		bottom: 0;
		left: 0;
	}
}


/* Style with porders */
@media (min-width: 1025px) {
	.interactive-list.pi-borders .interactive-list-item {
		padding-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid rgb(144 144 144 / 35%);
	}
	.interactive-list.pi-borders .interactive-list-item::before {
		top: 8%;
		left: 0;
	}

	.interactive-list.pi-compact.pi-borders .interactive-list-item {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.interactive-list.pi-compact.pi-borders .interactive-list-item::before {
		left: auto;
		top: 25%;
	}
	.interactive-list.pi-compact.pi-borders .il-item-category-wrap {
		bottom: 10%;
	}
}



/* ------------------------------------------------------------- *
 * Page nav
/* ------------------------------------------------------------- */

.tt-page-nav {
	position: relative;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
@media screen and (max-width: 1900px) and (min-width: 1024px) {
	.tt-page-nav {
		max-width: 40vw;
	}
}

/* Page nav link */
.tt-pn-link {
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
}

/* Page nav title */
.tt-pn-title {
	position: relative;
	display: block;
	left: 50%;
	font-size: clamp(32px, 4vw, 110px);
	font-family: 'NewYork';
	font-weight: bold;
	font-weight: 500;
	color: #0a0a0a;
	line-height: 1.6;
	white-space: nowrap;
	transform: translate3d(-50%, 0, 0);
	transition: transform .6s cubic-bezier(0.51, 0.57, 0.17, 1);

	/* Ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
} 
.tt-pn-hover-title {
	position: absolute;
	left: 50%;
	font-size: clamp(26px, 4vw, 110px);
	font-family: 'NewYork';
	font-weight: bold;
	font-weight: 500;
	color: #0a0a0a;
	line-height: 1.6;
	white-space: nowrap;
	transform: translate3d(-50%, 100%, 0);
	transition: transform .6s cubic-bezier(0.51, 0.57, 0.17, 1);
}
@media (max-width: 1024px) {
	.tt-pn-title:hover {
		opacity: 1;
	}
	.tt-pn-hover-title {
		display: none;
	}
}

@media (min-width: 1025px) {
	.tt-pn-link:hover .tt-pn-title {
		transform: translate3d(-50%, -100%, 0);
		transition-delay: 0.1s;
	}
	.tt-pn-link:hover .tt-pn-hover-title {
		transform: translate3d(-50%, 0, 0);
		transition-delay: 0.1s;
	}

	/* If the hover title is cloned (have multiple <span>'s) then animate it */
	.tt-page-nav .tt-pn-hover-title span {
		display: inline-flex;
		align-items: center;
		padding-right: 5vw;
		animation: marquee 3s linear infinite;
		animation-play-state: paused;
	}
	.tt-page-nav .tt-pn-link:hover .tt-pn-hover-title span {
		animation: marquee 3s linear infinite;
		animation-play-state: running;
	}
	@-webkit-keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-100%); }
	}
	@keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-100%); }
	}
}

/* Page nav hover title separator (dot) */
.tt-pn-hover-title span::after {
	position: absolute;
	display: block;
	content: "";
	right: 1.9vw;
	top: 56%;
	width: .8vw;
	height: .8vw;
	background-color: #0a0a0a;
	border-radius: 100px;
	transform: translate3d(0, -50%, 0);
}

/* Page nav subtitle */
.tt-pn-subtitle {
	margin-top: 20px;
	font-size: calc(16px + 0.1vw);
	color: #0a0a0a;
}

/* Page nav image */
.tt-page-nav .tt-pn-image {
	display: none; /* disabled by default */
}
.tt-pn-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	
	
}
.tt-pn-image::before {
	position: absolute;
	display: block;
	content: "";
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #040404;
	opacity: .1;
	
}
.tt-pn-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

#magic-cursor.tt-pn-hover-on {
	z-index: -1;
}
#magic-cursor.tt-pn-hover-on #ball {
	overflow: hidden;
	border: none !important;
	border-radius: 0;
}

/* Video */
video.tt-pn-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* Page nav styles 
=================== */
/* Style stroke (no effect on small screens) */
@media (min-width: 1025px) {
	.tt-page-nav.tt-pn-stroke .tt-pn-title {
		font-weight: bold;
		font-weight: 800;
		opacity: .6;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFF;
		-webkit-text-fill-color: transparent;
	}

	/* If Firefox */
	body.is-firefox .tt-page-nav.tt-pn-stroke .tt-pn-title {
		-webkit-text-stroke-width: 2px;
	}
}



/* ------------------------------------------------------------- *
 * About Page
/* ------------------------------------------------------------- */

.about-inner-img {
	width: 50%;
	margin: auto;
}
.about-img {
	width: 100%;
	height: 45vh;
	object-fit: cover;
}

.about-title {
	font-size: 3rem;
	font-weight: 500;
}

.about-txt span {
	font-weight: 600;
}

.additionnals {
	display: flex;
}

.contact {
	margin: 0;
}

#email {
	cursor: pointer;
}

.socials > .hover-effect {
margin: 10px 0px;
}

.socials > .hover-effect > *,
.hover-effect > *::after {
	padding: 0px 0px;
}

.socials-link {
	margin-right: 10px;
}


.hover-effect {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	height: 50px;
	background-color: transparent;
	margin: 10px 10px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	z-index: 9;
}
.hover-effect:last-child {
	margin-right: 0;
}
.hover-effect > * {
	position: relative;
	color: #0a0a0a;
	transition: transform 0.3s;
}
.hover-effect > *,
.hover-effect > *::after {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px 10px;
	line-height: 1;
}
.hover-effect > *::after {
	position: absolute;
	content: attr(data-hover);
	top: 100%;
	width: 100%;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}
.hover-effect:hover > * {
	transform: translate3d(0, -100%, 0);
}


/* ------------------------------------------------------------- *
 * Project info list
/*-------------------------------------------------------------- */

  

.project-info-list {
	position: relative;
	z-index: 9;
}

#page-header .project-info-list {
	margin-top: 60px;
}

.project-info-list > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.project-info-list > ul > li {
	position: relative;
	display: inline-block;
	max-width: 320px;
	vertical-align: top;
	padding: 0px 30px 0 0;
	margin: 15px 25px 15px 0;
}
@media (max-width: 768px) {
	#page-header:not(.ph-center) .project-info-list > ul > li {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 15px 0 25px 0;
	}
}
.project-info-list > ul > li:last-child {
	padding-right: 0;
	margin-right: 0;
}
.project-info-list > ul > li::after {
	position: absolute;
	display: block;
	content: "";
	top: 24px;
	right: 0;
	width: 1px;
	height: 60px;
	margin-top: -18px;
	background-color: #0a0a0a;
}
.project-info-list > ul > li:last-child::after {
	display: none;
}
@media (max-width: 768px) {
	#page-header:not(.ph-center) .project-info-list > ul > li::after {
		display: none;
	}
}

/* project info list if align senter */
.text-center .project-info-list > ul > li,
.project-info-list.text-center > ul > li {
	padding: 0px 40px 0 30px;
	margin: 15px 0 15px 0;
}

/* project info list heading */
.project-info-list .pi-list-heading {
	margin-bottom: 5px;
	font-size: calc(20px + 0.1vw);
	font-weight: normal;
	opacity: .8;
}

/* project info list content */
.project-info-list .pi-list-cont {
	opacity: .7;
}





/* ------------------------------------------------------------- *
 * Error 404 Page
/* ------------------------------------------------------------- */

.error-section {
	padding: 0;
}
.error-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	overflow: hidden;
}
.error-txt {
	font-size: 40px;
	text-align: center;
	font-family: 'NewYork';
	margin: 0;
}

.error-link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background-color: transparent;
	margin: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-weight: 300;
	overflow: hidden;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	z-index: 9;
	
}
.error-link:last-child {
	margin-right: 0;
}
.error-link > * {
	position: relative;
	color: #0a0a0a;
	transition: transform 0.3s;
}
.error-link > *,
.error-link > *::after {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px 30px;
	line-height: 1;
}
.error-link > *::after {
	position: absolute;
	content: attr(data-hover);
	top: 100%;
	width: 100%;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}
.error-link:hover > * {
	transform: translate3d(0, -100%, 0);
}

.error-link-element {
	text-align: center;
	font-size: 16px;
}

@media (max-width: 390px) {
	.error-page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 70vh;
		overflow: hidden;
	}

	.error-inner-page {
		padding-top: 20vh;
	}

	.error-txt {
		font-size: 30px;
	}

	
	
}


/* ------------------------------------------------------------- *
 * Moments Page 
/*-------------------------------------------------------------- */


.image-gallery {
	/* Mobile first */
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 5%;
  }
  
  .image-gallery .column {
	display: flex;
	flex-direction: column;
	gap: 5px;
  }
  
  .image-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  @media only screen and (min-width: 768px) {
	.image-gallery {
	  flex-direction: row;
	}
  }


/* ------------------------------------------------------------- *
 * Video Page 
/*-------------------------------------------------------------- */

  .tt-inner-video-title {
	font-size: 5rem;
	font-weight: normal;
  }

  .tt-video-player {
	margin: auto;
	margin-top: 5%;
  }

  .tt-video-player iframe {
	width: 100%;
	height: 65vh;
  }

  .tt-video-txt-info p {
	opacity: 0.7;
  }

  @media (max-width: 768px) {
	.tt-video-player iframe {
		width: 100%;
		height: 45vh;
	  }
  }

  @media (max-width: 414px) {
	.tt-video-player iframe {
		width: 100%;
		height: 25vh;
	  }

	  .tt-inner-video-title {
		font-size: 3rem;
		font-weight: normal;
	}
  }


/* ------------------------------------------------------------- *
 * Magnetic wrap
/* ------------------------------------------------------------- */

.magnetic-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* ------------------------------------------------------------- *
 * Social buttons
/* ------------------------------------------------------------- */

.social-buttons {
}
.social-buttons ul {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social-buttons ul > li {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin: 10px 2px;
}
@media (max-width: 991px) {
	.social-buttons ul > li {
		margin: 10px;
	}
}
.social-buttons ul > li:first-child {
	margin-left: 0;
}
.social-buttons ul > li:last-child {
	margin-right: 0;
}

.social-buttons > ul > li a {
	display: block;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 15px;
	font-weight: 600;
	color: #0a0a0a;
	transition: opacity 0.2s;
}
body:not(.tt-magic-cursor) .social-buttons > ul:hover > li a {
	opacity: .5;
}
body:not(.tt-magic-cursor) .social-buttons > ul > li a:hover {
	opacity: 1;
}

@media (max-width: 390px) {
	.social-buttons ul > li {
		margin: 10px;
	}
}




/* ------------------------------------------------------------- *
 * Buttons
/* ------------------------------------------------------------- */

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.tt-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background-color: transparent;
	margin: 15px 15px 15px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-weight: 500;
	overflow: hidden;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	z-index: 9;
}
.tt-btn:last-child {
	margin-right: 0;
}
.tt-btn > * {
	position: relative;
	color: #FFF;
	transition: transform 0.3s;
}
.tt-btn > *,
.tt-btn > *::after {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 30px;
	line-height: 1;
}
.tt-btn > *::after {
	position: absolute;
	content: attr(data-hover);
	top: 100%;
	width: 100%;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}
.tt-btn:hover > * {
	transform: translate3d(0, -100%, 0);
}


/* ------------------------------------------------------------- *
 * Footer
/* ------------------------------------------------------------- */

#tt-footer {
	position: relative;
	width: 100%;
	font-size: 14px;
	z-index: 2;
}

.error-footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.tt-footer-inner {
	position: relative;
}
body:not(.tt-boxed) .tt-footer-inner,
.tt-footer-inner:not(.tt-wrap) {
	padding-left: 3.5%;
	padding-right: 3.5%;
}

#tt-footer a {
	font-size: 14px;
	color: #0a0a0a;
}

#tt-footer .tt-btn {
	margin-top: 3px;
	margin-bottom: 3px;
}

.tt-btn-link::after {
    display: inline-block;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #0a0a0a;
    margin-top: 2px;
    margin-left: 15px;
}

/* Footer copyright */
#tt-footer .tt-copyright {
	color: #888;
}
#tt-footer .tt-copyright a {
	color: #888;
}
#tt-footer .tt-copyright a:hover {
}


/* For desktop only
==================== */
@media (min-width: 1025px) {
	#tt-footer {
		padding: 30px 0;
	}
	#tt-footer.footer-absolute {
		position: absolute;
		left: 0;
		bottom: 4%;
		padding: 0;
		pointer-events: none;
	}
	#tt-footer.footer-absolute a {
		pointer-events: initial;
	}

	.tt-footer-inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	/* Footer columns */
	.footer-col {
		flex: 1;
		padding: 0 15px;
		margin: 0 5px;
	}
	.footer-col:first-child {
		margin-left: 0;
		padding-left: 0;
	}
	.footer-col:last-child {
		margin-right: 0;
		padding-right: 0;
	}
	.footer-col-inner {
	}

	/* Align footer column content */
	.footer-col.tt-align-top-center {
		display: flex;
		justify-content: center;
	}
	.footer-col.tt-align-top-right {
		display: flex;
		justify-content: flex-end;
	}

	.footer-col.tt-align-center-left {
		display: flex;
		align-items: center;
	}
	.footer-col.tt-align-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-col.tt-align-center-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.footer-col.tt-align-bottom {
		display: flex;
		align-items: flex-end;
	}
	.footer-col.tt-align-bottom-center {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.footer-col.tt-align-bottom-right {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	/* Footer social */
	#tt-footer .footer-social {
		position: relative;
		line-height: 50px;
		height: 50px;
		pointer-events: auto;
	}
	#tt-footer .footer-social:before { /* expands the hover area */
		position: absolute;
		content: "";
		top: 0;
		bottom: -30px;
		left: 0;
		right: 0;
		z-index: -1;
	}
	#tt-footer .footer-social .footer-social-text {
		display: block;
		text-align: right;
		cursor: pointer;
		opacity: 1;
		visibility: visible;
	}
	#tt-footer .footer-social .footer-social-text > span {
		margin-right: 13px;
	}
	#tt-footer .footer-social .social-buttons {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -50%, 0);
	}
	#tt-footer .footer-social .footer-social-text,
	#tt-footer .footer-social .social-buttons {
		transition: all 0.3s ease;
	}

	#tt-footer .footer-social:hover .footer-social-text {
		transform: translate3d(0, -50%, 0);
		opacity: 0;
		visibility: hidden;
	}
	#tt-footer .footer-social:hover .social-buttons {
		transform: translateY(-100%);
		opacity: 1;
		visibility: visible;
	}

}

/* For smaller screens only
============================ */
@media (max-width: 1024px) {
	#tt-footer {
		padding: 60px 0 80px 0;
	}
	.tt-footer-inner {
		display: flex;
		flex-direction: column;
	}

	/* Footer columns */
	.footer-col {
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}
	.footer-col:first-child {
	}
	.footer-col:last-child {
	}
	.footer-col-inner {
	}

	/* Order footer columns */
	.footer-col.order-m-first { order: -1; }
	.footer-col.order-m-last { order: 10; }
	.footer-col.order-m-1 { order: 1; }
	.footer-col.order-m-2 { order: 2; }
	.footer-col.order-m-3 { order: 3; }
	.footer-col.order-m-4 { order: 4; }
	.footer-col.order-m-5 { order: 5; }
	.footer-col.order-m-6 { order: 6; }
	.footer-col.order-m-7 { order: 7; }
	.footer-col.order-m-8 { order: 8; }
	.footer-col.order-m-9 { order: 9; }
	.footer-col.order-m-10 { order: 10; }

	/* Footer social */
	#tt-footer .footer-social {
		margin-bottom: 10px;
	}
	#tt-footer .footer-social .footer-social-text {
		display: none;
	}
}
