@import url("https://use.typekit.net/vjj1age.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
  font-family: itc-benguiat, serif;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

[data-scroll] {
  will-change: transform;
}

.nav {
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
}

.nav__title {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav__links {
  display: flex;
  height: fit-content;
  font-weight: 200;
}

.nav a {
  margin: 0.5rem 0.8em;
  font-size: 0.8rem;
  height: fit-content;
  padding-bottom: 3px;
}

.mainvisual__scroll {
  position: fixed;
  bottom: 30px;
  right: 55px;
  z-index: 2;
}

.mainvisual__scroll span {
  display: block;
  font-size: 10px;
  color: #000;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
}

.mainvisual__scroll_top {
  position: fixed;
  bottom: 30px;
  left: 55px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  visibility: hidden;
}

.mainvisual__scroll_top span {
  display: block;
  font-size: 10px;
  color: #000;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
}

.mainvisual__scroll_top.show {
  opacity: 1;
  visibility: visible;
}

.bar {
  width: 1px;
  height: 60px;
  background-color: transparent;
  margin: 10px auto 0;
  overflow: hidden;
}

.mainvisual__scroll .bar:before {
  content: " ";
  display: block;
  width: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  animation: scrolling 1.2s infinite;
  animation-timing-function: ease-in-out;
}

.mainvisual__scroll_top .bar:before {
  content: " ";
  display: block;
  width: 1px;
  transform: rotatex(180deg);
  background-color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  animation: scrolling_up 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scrolling {
  from {
    height: 0px;
  }

  to {
    height: 60px;
  }
}

@keyframes scrolling_up {
  from {
    height: 60px;
  }

  to {
    height: 60px;
  }
}

.main__title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 3rem 0;
  counter-reset: figure;
}

.item {
  margin: 10vh auto;
  max-width: 100%;
  position: relative;
  will-change: transform;
}

.item::before {
  counter-increment: figure;
  content: counter(figure, decimal-leading-zero);
  position: absolute;
  font-family: itc-benguiat, serif;
  font-size: 10rem;
  color: #fff;
  -webkit-text-stroke: 1px #a0a0a0;
  bottom: calc(100% - 3rem);
  left: -5rem;
}

.item:nth-child(even)::before {
  right: 0;
}

.item__img-wrap {
  --aspect-ratio: 1/1.5;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  max-width: calc(100% - 2rem);
  will-change: transform;
}

.item:first-child .item__img-wrap {
  width: 900px;
  --aspect-ratio: 120/76;
  --image: url(../img/thumbnails/thumbnail-demo.jpg);
}

.item:nth-child(2) .item__img-wrap {
  --aspect-ratio: 7.3/9;
  --image: url(../img/thumbnails/thumbnail-travel.jpg);
}

.item:nth-child(3) .item__img-wrap {
  width: 1200px;
  --aspect-ratio: 1500/844;
  --image: url(../img/thumbnails/thumbnail-northern.jpg);
}

.item:nth-child(4) .item__img-wrap {
  --aspect-ratio: 66/75;
  --image: url(../img/thumbnails/Kiss.jpg);
}

.item:nth-child(5) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 1400/744;
  --image: url(../img/thumbnails/thumbnail-paris.jpg);
}

.item:nth-child(6) .item__img-wrap {
  width: 900px;
  --aspect-ratio: 120/76;
  --image: url(../img/thumbnails/thumbnail-smeels.jpg);
}

.item:nth-child(7) .item__img-wrap {
  width: 800px;
  --aspect-ratio: 1400/849;
  --image: url(../img/thumbnails/thumbnail-luidji.jpg);
}

.item:nth-child(8) .item__img-wrap {
  width: 1200px;
  --aspect-ratio: 1800/844;
  --image: url(../img/thumbnails/thumbnail-meet.jpg);
}

.item:nth-child(9) .item__img-wrap {
  width: 900px;
  --aspect-ratio: 180/76;
  --image: url(../img/thumbnails/thumbnail-samedi.jpg);
}

.item__img {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc(-1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-image: var(--image);
  background-size: cover;
  background-position: 50% 0%;
  will-change: transform;
}

.item__img--t1 {
  --overflow: 60px;
}

.item__img--t2 {
  --overflow: 80px;
}

.item__img--t3 {
  --overflow: 120px;
}

.item__caption {
  padding: 2rem 1rem;
}

.item__caption-title {
  font-family: itc-benguiat, serif;
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

.item__caption-copy {
  margin: 0;
  font-weight: 200;
}

.item__caption-copy::before {
  content: '';
  width: 30%;
  height: 1px;
  background-color: #000;
  margin: 1rem 0 1rem;
  display: block;
}

.title {
  text-align: center;
  letter-spacing: 3px;
  font-family: itc-benguiat, serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.block {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.div__img_about {
  width: 40%;
  margin: 3%;
}

.img__about {
  width: 100%;
}

.div__about_txt {
  width: 35%;
  margin: 3%;
	padding-top: 20%;
  font-size: 1.2rem;
  font-weight: 200;
}

#toContact {
  font-family: itc-benguiat, serif;
  text-transform: uppercase;
}

.block__contact {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.div__contact_txt {
  width: 35%;
  margin: 3%;
  font-size: 1.0rem;
  font-weight: 200;
  padding-top: 20%;
}

#contact {
  cursor: pointer;
  text-align: center;
}

#email {
  padding-bottom: 3px;
}

#social__links {
  display: flex;
  justify-content: center;
}

.s__links {
  margin: 4%;
  padding-bottom: 3px;
  font-family: itc-benguiat, serif;
}

.underline {
  position: relative;
}

.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

/*
------------
WORK
-------------------
*/
.work-block {
  width: 60%;
}

.iframe {
  z-index: 2;
}

.youtube__iframe {
  width: 100%;
  height: 55vh;
}

.txt__line {
  display: flex;
  justify-content: space-between;
}

.txt {
  font-weight: 200;
  margin-top: 3%;
}

.next__link {
  font-family: itc-benguiat, serif;
  margin-top: 3%;
  height: fit-content;
  padding-bottom: 3px;
}

.item__num {
  position: absolute;
  font-family: itc-benguiat, serif;
  font-size: 10rem;
  color: #fff;
  -webkit-text-stroke: 1px #a0a0a0;
  bottom: calc(100% - 7rem);
  right: 14rem;
  z-index: -1;
  animation-name: down;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes down {
  from {
    bottom: calc(100% - 2rem);
    opacity: 0;
  }

  to {
    bottom: calc(100% - 7rem);
    opacity: 1;
  }
}

.div__img_photo {
  width: 40%;
  padding-right: 2px;
  padding-left: 2px;
}
