@import url("https://use.typekit.net/vjj1age.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.mainvisual {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 4;
  overflow: hidden;
  background-color: #fff;
}

.mainvisual__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  ;
  filter: brightness(80%);
  z-index: 1;
}

.mainvisual__img {
  position: absolute;
  z-index: 2;
  top: 25%;
  mix-blend-mode: overlay;
}

.img__index {
  height: 400px;
}

.mainvisual__brand {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.brand {
  color: #fff;
  font-family: itc-benguiat, serif;
  letter-spacing: 3px;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 30px;
}

.mainvisual__title {
  position: absolute;
  z-index: 2;
  top: 52%;
  color: #fff;
  font-family: itc-benguiat, serif;
  letter-spacing: 3px;
}

.mainvisual__title p {
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
}

.mainvisual__scroll {
  position: absolute;
  bottom: 0;
  right: 48%;
  z-index: 2;
  -webkit-transition: opacity .75s cubic-bezier(.25, .1, .25, 1);
  transition: opacity .75s cubic-bezier(.25, .1, .25, 1);
  -webkit-transition-delay: .25s;
  transition-delay: .25s;
}

.mainvisual__scroll span {
  font-family: itc-benguiat, serif;
  display: block;
  font-size: 10px;
  color: #fff;
  letter-spacing: .2em;
}

.mainvisual__scroll .bar {
  width: 1px;
  height: 50px;
  background-color: transparent;
  margin: 10px auto 0;
  overflow: hidden;
}

.mainvisual__scroll .bar::before {
  content: " ";
  display: block;
  width: 1px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 52%;
  -webkit-animation: scrollDown 1.25s cubic-bezier(.165, .84, .44, 1) 0s infinite normal;
  animation: scrollDown 1.25s cubic-bezier(.165, .84, .44, 1) 0s infinite normal;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0
  }

  15%, 85% {
    opacity: 1
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0
  }

  15%, 85% {
    opacity: 1
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.header__nav {
  position: absolute;
  top: 500px;
  left: 0;
  display: flex;
  align-items: center;
}

.about__bar {
  width: 50px;
  height: 1px;
  background-color: #000;
}

.about__nav {
  padding-left: 10px;
  font-family: itc-benguiat, serif;
  font-size: 0.8rem;
  text-align: right;
  color: #000;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
}

.header__section a {
  font-family: itc-benguiat, serif;
  font-size: 0.8rem;
  text-align: right;
  color: #000;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 200;
}

.header__section {
  position: absolute;
  top: 50px;
  right: 50px;
}

.header__section a {
  display: block;
}

.overlay {
  font-family: itc-benguiat, serif;
  width: 100%;
  height: 100vh;
}

#back__nav {
  opacity: 1;
  position: relative;
}

.about__content {
  position: absolute;
  top: 18%;
  right: 1%;
  display: flex;
  width: 80%;
  margin: auto;
}

.about__title {
  opacity: 0;
  position: relative;
  top: -20px;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-weight: 400;
}

.about__picture {
  opacity: 0;
  position: relative;
  top: 30px;
}

.picture {
  width: 50%;
  margin: 5%;
}

.about__img {
  width: 100%;
}

.info {
  width: 90%;
  margin: 3%;
  margin-top: 10%;
  font-size: 0.8rem;
}

.info__txt {
  opacity: 0;
  position: relative;
  top: -20px;
  line-height: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

#contact {
  opacity: 0;
  position: relative;
  top: -20px;
}

#email {
  margin-left: 5px;
  cursor: pointer;
}

.social {
  opacity: 0;
  position: relative;
  top: -20px;
}

.social a {
  color: #a9a9a9eb;
}

#copy {
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
}

.last {
  display: flex;
  align-items: center;
  height: 100vh;
}

.last__project h2 {
  text-align: center;
  font-family: itc-benguiat, serif;
  font-weight: 400;
  text-transform: uppercase;
}

.last__picture {
  width: 50%;
  margin: auto;
}

.last__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.video-modal {
  overflow: hidden;
  position: fixed;
  opacity: 0.0;
  -webkit-transform: translate(500%, 0%);
  transform: translate(500%, 0%);
  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: opacity 0s linear 0s;
  /* using flexbox for vertical centering */
  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.video-modal .overlay-video {
  z-index: 0;
  /* overlay color */
  background-size: cover;
  filter: blur(30px) brightness(80%);
  -webkit-filter: blur(30px) brightness(80%);
  -webkit-transition: opacity 0.5s ease-out 2s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: opacity 0.5s ease-out 2s;
}

.video-modal-content {
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: 25%;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  overflow-y: visible;
  padding-top: calc((100% - 12em) * 0.5625);
  /* 16:9 calc */
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 50%;
  height: 55%;
}

/* show the modal:
   add class to the body to reveal */
.show-video-modal .video-modal {
  opacity: 1.0;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

.show-video-modal .video-modal .overlay-video {
  opacity: 1.0;
}

.show-video-modal .video-modal-content {
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

.back__modal {
  position: absolute;
  top: 500px;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 3;
}

.modal__bar {
  width: 50px;
  height: 1px;
  background-color: #fff;
}

.close-video-modal {
  padding-left: 10px;
  font-family: itc-benguiat, serif;
  font-size: 0.8rem;
  text-align: right;
  color: #fff;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative
}

.section-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.section-bg__item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity .75s cubic-bezier(.25,.1,.25,1),-webkit-transform .75s cubic-bezier(.165,.84,.44,1);
    transition: opacity .75s cubic-bezier(.25,.1,.25,1),-webkit-transform .75s cubic-bezier(.165,.84,.44,1);
    transition: opacity .75s cubic-bezier(.25,.1,.25,1),transform .75s cubic-bezier(.165,.84,.44,1);
    transition: opacity .75s cubic-bezier(.25,.1,.25,1),transform .75s cubic-bezier(.165,.84,.44,1),-webkit-transform .75s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
}

.bg-title {
  position: absolute;
  font-size: 2.4rem;
  color: #fff;
  font-family: itc-benguiat, serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  z-index: 10;
}

.is-active {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.section {
  position: relative;
  z-index: 2;
}

.section-bg__item img {
  width: 720px;
  height: auto;
}

.section__inner {
width: 860px;
  margin: auto;
  padding-top: 100vh;
}

.section__item {
  position: relative;
  width: 450px;
  margin: auto;
  margin-right: -40px;
  margin-top: 200px;
  z-index: 0;
  transform: translate3d(0px, 139px, 0px);
  -webkit-transition: -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: transform .75s cubic-bezier(.165, .84, .44, 1), -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
}

.left {

  margin-left: -60px;
}

.section__item img {
  z-index: 0;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: opacity .75s cubic-bezier(.25, .1, .25, 1), -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: opacity .75s cubic-bezier(.25, .1, .25, 1), -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: opacity .75s cubic-bezier(.25, .1, .25, 1), transform .75s cubic-bezier(.165, .84, .44, 1);
  transition: opacity .75s cubic-bezier(.25, .1, .25, 1), transform .75s cubic-bezier(.165, .84, .44, 1), -webkit-transform .75s cubic-bezier(.165, .84, .44, 1);
}
